@model PingPong.ViewModel.GameViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<h3>@ViewBag.Message</h3>

<p>
    @Html.ActionLink("Create New Game", "Create")
</p>

<p>I am the Games Index</p>
<p>You got here cuz you created a game.</p>


<h3>Leader Board</h3>
<hr />
<h4>Team Games</h4>
<table class="table">
    <tr>
        <th>
            Rank
        </th>
        <th>
            Team Name
        </th>
        <th>
            Games Won
        </th>
        <th></th>
    </tr>
    
    @foreach (var leader in Model.TeamLeaders)
    {
        <tr>
            <td>@(Model.Rank++)</td>
            <td>@Html.DisplayFor(modelItem => leader.Key)</td>
            <td>@Html.DisplayFor(modelItem => leader.Value)</td>
        </tr>
    }
</table>

<hr />
<h3>Singles Games</h3>
<table class="table">
    <tr>
        <th>
            Player 1 Score
        </th>
        <th>
            Player 2 Score
        </th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var game in Model.SingleGames)
    {
        <tr>
            <td name="sg-player1" class=@(game.PlayerWinner == game.Player1Id ? "bg-success" : "")>@Html.DisplayFor(modelItem => game.Player1Score)</td>
            <td name="sg-player2" class=@(game.PlayerWinner == game.Player2Id ? "bg-success" : "")>@Html.DisplayFor(modelItem => game.Player2Score)</td>
            <td></td>
            <td></td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = game.Id }) |
                @Html.ActionLink("Details", "Details", new { id = game.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = game.Id })
            </td>
        </tr>

    }
</table>

<hr />
<h3>Team Games</h3>
<table class="table">
    <tr>
        <th>
            Team 1
        </th>
        <th>
            Team 1 Score
        </th>
        <th>
            Team 2
        </th>
        <th>
            Team 2 Score
        </th>
        <th></th>
    </tr>

    @foreach (var game in Model.TeamGames)
    {
        <tr>
            <td class=@(game.TeamWinner == game.Team1.TeamName ? "bg-success" : "")>@Html.DisplayFor(modelItem => game.Team1.TeamName)</td>
            <td class=@(game.TeamWinner == game.Team1.TeamName ? "bg-success" : "")>@Html.DisplayFor(modelItem => game.Team1Score)</td>
            <td class=@(game.TeamWinner == game.Team2.TeamName ? "bg-success" : "")>@Html.DisplayFor(modelItem => game.Team2.TeamName)</td>
            <td class=@(game.TeamWinner == game.Team2.TeamName ? "bg-success" : "")>@Html.DisplayFor(modelItem => game.Team1Score)</td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = game.Id }) |
                @Html.ActionLink("Details", "Details", new { id = game.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = game.Id })
            </td>
        </tr>

    }
</table>

