@*@model PingPong.ViewModel.PlayerViewModel*@
@model PingPong.Models.Player

@{
    ViewBag.Title = "Player Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Player Details</h2>
<hr />
<div>
    <h4>@Model.FirstName @Model.LastName</h4>

    <hr />
    <dl class="dl-horizontal"></dl>
</div>

<h3>Single Games</h3>

<table class="table">
    <tr>
        <th>
            Player 1 Name
        </th>
        <th>
            Player 1 Score
        </th>
        <th>
            Player 2 Name
        </th>
        <th>
            Player 2 Score
        </th>
        <th></th>
    </tr>
</table>

<h3>Team Games</h3>

@foreach (var team in Model.Teams)
{
    <p>@Html.DisplayFor(modelItem => team.TeamName)</p>
    <p>@Html.DisplayFor(modelItem => team.Id)</p>
}

@foreach (var teamGame in Model.TeamGames)
{
    <p>@Html.DisplayFor(modelItem => teamGame.Id)</p>
    <p>@Html.DisplayFor(modelItem => teamGame.TeamWinner)</p>
}

<table class="table">
    <tr>
        <th>
            Team 1
        </th>
        <th>
            Team 1 Score
        </th>
        <th>
            Team 2
        </th>
        <th>
            Team 2 Score
        </th>
        <th></th>
    </tr>

    @*@foreach (var game in Model.TeamGames)
        {
            <tr>
                <td class=@(game.TeamWinner == game.Team1.TeamName ? "bg-success" : "")>@Html.DisplayFor(modelItem => game.Team1.TeamName)</td>
                <td class=@(game.TeamWinner == game.Team1.TeamName ? "bg-success" : "")>@Html.DisplayFor(modelItem => game.Team1Score)</td>
                <td class=@(game.TeamWinner == game.Team2.TeamName ? "bg-success" : "")>@Html.DisplayFor(modelItem => game.Team2.TeamName)</td>
                <td class=@(game.TeamWinner == game.Team2.TeamName ? "bg-success" : "")>@Html.DisplayFor(modelItem => game.Team1Score)</td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = game.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = game.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = game.Id })
                </td>
            </tr>

        }*@
</table>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
