@*@model PingPong.ViewModel.PlayerViewModel*@
@model PingPong.Models.Player

@{
    ViewBag.Title = "Player Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Player Details</h2>
<hr />
<div>
    <h4>@Model.FirstName @Model.LastName</h4>

    <hr />
    <dl class="dl-horizontal"></dl>
</div>

<h3>Single Games</h3>

<table class="table">
    <tr>
        <th>
            Player 1 Name
        </th>
        <th>
            Player 1 Score
        </th>
        <th>
            Player 2 Name
        </th>
        <th>
            Player 2 Score
        </th>
        <th></th>
    </tr>
    
    @foreach (var singleGame in Model.SingleGames)
    {
        <tr>
            <td class=@(singleGame.PlayerWinner == singleGame.Player1.FirstName ? "bg-success" : "")>@Html.DisplayFor(modelItem => singleGame.Player1.FirstName)</td>
            <td class=@(singleGame.PlayerWinner == singleGame.Player1.FirstName ? "bg-success" : "")>@Html.DisplayFor(modelItem => singleGame.Player1Score)</td>
            <td class=@(singleGame.PlayerWinner == singleGame.Player2.FirstName ? "bg-success" : "")>@Html.DisplayFor(modelItem => singleGame.Player2.FirstName)</td>
            <td class=@(singleGame.PlayerWinner == singleGame.Player2.FirstName ? "bg-success" : "")>@Html.DisplayFor(modelItem => singleGame.Player2Score)</td>
        </tr>
    }
</table>

<h3>Team Games</h3>

@foreach (var team in Model.Teams)
{
    <p>@Html.DisplayFor(modelItem => team.TeamName)</p>
    <p>@Html.DisplayFor(modelItem => team.Id)</p>
}

<table class="table">
    <tr>
        <th>
            Team 1
        </th>
        <th>
            Team 1 Score
        </th>
        <th>
            Team 2
        </th>
        <th>
            Team 2 Score
        </th>
        <th>
            Team Winner
        </th>
    </tr>


    @foreach (var teamGame in Model.TeamGames)
    {
        <tr>
            <td class=@(teamGame.TeamWinnerName == teamGame.Team1.TeamName ? "bg-success" : "")>@Html.DisplayFor(modelItem => teamGame.Team1.TeamName)</td>
            <td class=@(teamGame.TeamWinnerName == teamGame.Team1.TeamName ? "bg-success" : "")>@Html.DisplayFor(modelItem => teamGame.Team1Score)</td>
            <td class=@(teamGame.TeamWinnerName == teamGame.Team2.TeamName ? "bg-success" : "")>@Html.DisplayFor(modelItem => teamGame.Team2.TeamName)</td>
            <td class=@(teamGame.TeamWinnerName == teamGame.Team2.TeamName ? "bg-success" : "")>@Html.DisplayFor(modelItem => teamGame.Team1Score)</td>
            <td>@Html.DisplayFor(modelItem => teamGame.TeamWinnerName)</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = teamGame.Id }) |
                @Html.ActionLink("Details", "Details", new { id = teamGame.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = teamGame.Id })
            </td>
        </tr>
    }
</table>

<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
